<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PastelWlsySdP.Properties.Settings.PastelWslySConnectionString"
            connectionString="Data Source=DESKTOP-419S313\SQLEXPRESS;Initial Catalog=PastelWslyS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>